<nav class="navbar navbar-expand-lg navbar-custom"> 
    <!-- navbar-dark bg-dark -->
 <a class="navbar-brand" href="#"> <img src="assets/images/v23.png" > &nbsp;
     Document Cognitive Analytics   
 </a>
 <!-- <a [routerLink]="['Select']">Analysis</a> -->

</nav>
