<div class="content-inner-wrapper">
  <div id="main-bar" class="tran-background">
    <div class="container">
      <div id="tagline" class="row">
        <div id="lead-text" class="col-md-6">
            <br>
            <br>
          <h1>Analyze <span id="meaning">Meaning</span> from your Text.</h1>

          <div class="lead-row" style="height: 300px;">
            Document cognitive analytics provides the functionality to analyze your text
            and extract meaningful information from it. It performs multiple actions on text to extract details like
            sentiment analysis, entity recognition,
            regular expressions, semantics and more.
          </div>
        </div>
        <div class="col-md-6">
          <div class="frame">
            <img id="letters" alt="letters" class="right1" src="assets/images/archi.PNG"
              style="border:5px double black; height: 400px; width: 600px; border-radius: 25px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    
    <!-- <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p>
          <b>OCR</b>.
          This functionality evaluates sentiment in a supplied text in ad-hock basis, marking the document either as:
          “POSITIVE”, “NEGATIVE” or “NEUTRAL”.
          Understanding the sentiment of your customers can benefit a company and provide insight into the following
          areas:​ <br>
          <b>Marketing insights</b> – What are the current trends?<br>
          <b>QoS feedback</b> – How products or services perform?​<br>
          <b>Customer feedback</b> – What are your customers saying?​
        </p>
      </div>

      <div class="col-md-6">
        <div class="feature-col right">
          <div id="try-header">
            <h3>OCR</h3>
          </div>
          <form enctype="multipart/form-data">
            <fieldset>
              <input type="hidden" name="csrf_token" value="1575932990##dbeb8362d2679d90de41e97aff4bafed8d8e1add" />
              <textarea class="input-xlarge text-input" name="SentimentText" rows="6"
                [(ngModel)]="SentimentText"></textarea>
              <input type="file" style="margin-bottom: 1rem" (change)="onFileChange($event)" />
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary" (click)="onSubmit(1,'Sentiment-Card-Wrapper','Sentiment-Card')">
                  Analyze
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div> -->
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p>
          <b>Sentiment Analysis</b>.
          This functionality evaluates sentiment in a supplied text in ad-hock basis, marking the document either as:
          “POSITIVE”, “NEGATIVE” or “NEUTRAL”.
          Understanding the sentiment of your customers can benefit a company and provide insight into the following
          areas:​ <br>
          <b>Marketing insights</b> – What are the current trends?<br>
          <b>QoS feedback</b> – How products or services perform?​<br>
          <b>Customer feedback</b> – What are your customers saying?​
        </p>
      </div>

      <div class="col-md-6">
        <div class="card Temp-Card">
          <h5 class="card-header">Sentiment Analysis</h5>
          <div class="card-body">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-dark" (click)="Close(1,'Sentiment-Card-Wrapper', 'Sentiment-Card')">Clear</button>
              <button type="button" class="btn btn-primary"
              (click)="onSubmit(1,'Sentiment-Card-Wrapper', 'Sentiment-Card')">Analyze</button>
            </div>
            <textarea class="input-xlarge text-input" name="SentimentText" rows="6"
              [(ngModel)]="SentimentText"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="Sentiment-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="Sentiment" aria-hidden="true"></i></h4>
        </div>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <div id="Sentiment-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p>{{text1}}</p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response3 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response3 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p><b>Named entities </b>The text is parsed looking for occurrences people’s names.</p>
      </div>

      <div class="col-md-6">
          <div class="card Temp-Card">
              <h5 class="card-header">Sentiment Analysis</h5>
              <div class="card-body">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-dark" (click)="Close(2,'Namedentities-Card-Wrapper', 'Namedentities-Card')">Clear</button>
                  <button type="button" class="btn btn-primary"
                  (click)="onSubmit(2,'Namedentities-Card-Wrapper', 'Namedentities-Card')">Analyze</button>
                </div>
                <textarea class="input-xlarge text-input" name="NamedentitiesText" rows="6"
                  [(ngModel)]="NamedentitiesText"></textarea>
              </div>
            </div>
      </div>
    </div>

    <div class="row" id="Namedentities-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="Namedentities" aria-hidden="true"></i></h4>
        </div>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <div id="Namedentities-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p>{{text2}}</p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response2 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response2 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p>
          <b>Regular Expression (ReGex extraction)</b>A list of regular expression is saved and searched through the
          text.
          A regular expression is a special string defining a search patterns.
          A RegEx for each of the following patterns is provided: e-mails, phones, PPSs. For each of these categories,
          an
          array of the instances belonging to the corresponding category is returned.
        </p>
      </div>

      <div class="col-md-6">
          <div class="card Temp-Card">
              <h5 class="card-header">Regular Expression (ReGex extraction)</h5>
              <div class="card-body">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-dark" (click)="Close(3,'ReGex-Card-Wrapper', 'ReGex-Card')">Clear</button>
                  <button type="button" class="btn btn-primary"
                  (click)="onSubmit(3,'ReGex-Card-Wrapper', 'ReGex-Card')">Analyze</button>
                </div>
                <textarea class="input-xlarge text-input" name="ReGexText" rows="6"
                  [(ngModel)]="ReGexText"></textarea>
              </div>
            </div>
      </div>
    </div>
    <div class="row" id="ReGex-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="ReGex" aria-hidden="true"></i></h4>
        </div>
        <div id="ReGex-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              <p>{{text3}}</p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let value of Response5 | keyvalue" scope="col">{{value.key}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let value of Response5 | keyvalue">{{value.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p>
          <b>Semantic Search</b>
          Semantic search is a useful technique to enable effective search across large numbers of unstructured and
          uncategorised documents which provides the following benefits:​
          <b>Document search </b> – find relevant information quickly.​<br>
          <b>Similarity search</b> – find semantically similar information & documents.
        </p>
      </div>

      <div class="col-md-6">
          <div class="card Temp-Card">
              <h5 class="card-header">Semantic Analysis</h5>
              <div class="card-body">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-dark" (click)="Close(4,'Semantic-Card-Wrapper', 'Semantic-Card')">Clear</button>
                  <button type="button" class="btn btn-primary"
                  (click)="onSubmit(4,'Semantic-Card-Wrapper', 'Semantic-Card')">Analyze</button>
                </div>
                <textarea class="input-xlarge text-input" name="SemanticText" rows="6"
                  [(ngModel)]="SemanticText"></textarea>
              </div>
            </div>
      </div>
    </div>
    <div class="row" id="Semantic-Card-Wrapper" class="wrapper">
      <div class="card Outer-Card-Wrapper">
        <div class="d-flex">
          <h4 class="mr-auto"><b>Result</b></h4>
          <h4><i class="fa fa-chevron-down fa-clickable" id="Semantic" aria-hidden="true"></i></h4>
        </div>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <div id="Semantic-Card" class="card-body wrapper">
          <div class="card Inner-Card-Wrapper">
            <div class="card-body">
              Remaining
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container bottom-container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p>
          Document cognitive analytics uses Machine Learning and related techniques to provide insight into the content
          of documents uploaded by end
          users with the goal of being able to use those insights to drive business processes and ensure regulatory
          alignment.
        </p>
      </div>

      <div class="col-md-6">
          <div class="card Temp-Card">
             
              <div class="d-flex justify-content-end">
                    <h5 style="margin-right: auto;" class="card-header">Try all 
                       
                       <span style="margin-left:287px;"> <button type="button" class="btn btn-dark"  (click)="Close(5,'All-Card-Wrapper', 'All-Card')">Clear</button>
                        <button type="button" class="btn btn-primary"
                        (click)="onSubmit(5,'All-Card-Wrapper', 'All-Card')">Analyze</button> </span></h5>
                      
                  </div>
                  <br>
              <div class="card-body">
                <textarea class="input-xlarge text-input" name="Text" rows="6"
                  [(ngModel)]="Text"></textarea>
              </div>
            </div>
      </div>
    </div>
    <div class="row" id="All-Card-Wrapper" class="wrapper">
        <div class="card Outer-Card-Wrapper">
          <div class="d-flex">
            <h4 class="mr-auto"><b>Result</b></h4>
            <h4><i class="fa fa-chevron-down fa-clickable" id="All" aria-hidden="true"></i></h4>
          </div>
          <div id="All-Card" class="card-body wrapper">
            <div class="card Inner-Card-Wrapper">
              <div class="card-body">
                <p>{{text5}}</p>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th *ngFor="let value of Response3 | keyvalue" scope="col">{{value.key}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let value of Response3 | keyvalue">{{value.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>